.profile__edit-acatar {
    background-image: url(../../../images/edit-avatar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 26px;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 120px;
    min-height: 120px;
    position: absolute;
    border-radius: 50%;
    transition: opacity .3s;
    opacity: 0;
}

.profile__edit-avatar:hover {
    opacity: 1;
}